[submodule "posix/bash-git-prompt"]
	path = posix/bash-git-prompt
	url = https://github.com/paulyc/bash-git-prompt.git
	ignore = dirty
[submodule "node/nvm"]
	path = node/nvm
	url = https://github.com/paulyc/nvm.git
